# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# DVC
data/raw/*
!data/raw/*.dvc
.dvc/cache/
.dvc/tmp/

# MLflow
mlruns/

# VS Code
.vscode/
src/models/mlflow_logged_model/pyfunc_model/python_model.pkl
mlartifacts/
