# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# DVC
data/raw/*
!data/raw/*.dvc
.dvc/cache/
.dvc/tmp/

# MLflow

mlruns/
mlartifacts/
!mlartifacts/
!mlartifacts/transformer_model/
!mlartifacts/transformer_model/**

# VS Code
.vscode/
src/models/mlflow_logged_model/pyfunc_model/python_model.pkl


#mlartifacts/
src/models/mlflow_logged_model/pyfunc_model/artifacts/mlflow_logged_model/pyfunc_model/python_model.pkl
